<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SchooledAfrika reset password mail</title>
  </head>
  <body>
    <p>Hello
      {{name}}, please click the link below to get new password for logging in
      to schooledafrika platform</p>
    <div>
      <a href={{link}}>{{link}}</a>
    </div>
    <p>thank you for choosing schooledAfrika</p>
  </body>
</html>